body
{
  background-color: grey;
  font-family: "Arial", "Helvetica",  sans-serif;
  color: #181818;
}

.grille1
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "h h h"
    "b b b"
    "ar ar as"
    "f f f";
}

.grille2
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .8rem;
  grid-template-areas:
    "h h h"
    "b b b"
    "as ar ar"
    "f f f";
}

header
{
  grid-area: h;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banniere
{
  grid-area: b;
}

article
{
  grid-area: ar;
  margin-left: 1rem;
}

aside
{
  grid-area: as;
  margin-right: 1rem;
}

footer
{
  grid-area: f;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}


#titre_principal h1
{
    font-size: 3rem;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo img
{
    width: auto;
    height: 3.5rem;
}

header h1, article h1, nav a
{
    font-size: 1.5rem;
    margin: 0 0 0 .8rem;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li
{
    margin-right: .8rem;
}

nav a
{
    font-size: 1.3em;
    color: #2f2d29;
    padding-bottom: .5rem;
    text-decoration: none;
}

nav a:hover
{
    color: #beb8b8;
}

#banniere_image {
  display: flex;
  justify-content: center;
  width : auto;
  height: 15rem;
}

article,  aside
{
    text-align: justify;
}

article
{
    margin-right: 1.5rem;
}

article, aside  p
{
    font-size: 1rem;
}


aside
{
    background-color: #706b64;
    box-shadow: 0rem .125rem .3125rem #1c1a19;
    border-radius: .3125rem;
    padding: 1rem;
    color: white;
    font-size: 0.9em;
}

aside h1
{
    text-align: center;
    font-size: 1.5em
}

a
{
    color: #fcfbfb;
}

a:hover
{
  color: #dc3131;
}

#fleche_bulle
{
    position: absolute;
    top: 0.8rem;
    left: -.75rem;
}

aside img
{
    margin-right: .4rem;
}

#social
{
    display: flex;
    justify-content: space-around;
}

footer p, footer ul
{
    font-size: 0.8rem;
}

footer h1
{
    font-size: 1.1rem;
}

#des_photos img
{
    border: .1rem solid #181818;
    margin-right: 1rem;
}

#listes_sites
{
    display: flex;
    justify-content: left;
    margin-top: 0;
}

#sites_interessants ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2rem;
}

#sites_interessants a
{
    text-decoration: none;
    color: #760001;
}
